h1,
h3 {
    padding: 10px;
    text-align: center;
}

table a {
    display: block;
    height: 100%;
}

table a:hover {
    text-decoration: none;
}

table {
    width: 25% !important;
    margin: auto;
}

form {
    margin: 50px auto 0px auto;
    width: 25%;
}
